extends layout

block content
  h1 Welcome to the admin page !

  style.
    .toggle{width:200px}


  if varMode == "ON"
    input(checked, id='toogle',data-toggle='toggle', data-on='ON (Humain répond)', data-off='OFF (Bot répond)', type='checkbox')
  else
    input(id='toogle',data-toggle='toggle', data-on='ON (Humain répond)', data-off='OFF (Bot répond)', type='checkbox')
